.colorguide{
    width:100%;
}
.colorguide ::-webkit-scrollbar-thumb {
    background: #FCB033;
    border-radius: 8px;
}
.parent-color {
    display: block;
    width: 58%;
    min-height: 10px;
    float: left;
}
.color-picker-container {
    display: block;
    float: left;
    width: 42%;
}
.design {
    width:500px;
    max-width:100%;
    float: left;
    display: flex;
    margin-bottom: 10px;
    max-height:306px;
    overflow:hidden;
    &.placeholder{
        align-items: center;
        justify-content: center;
        min-height: 300px;
        background:#f3f3f3;
        border-radius:12px;
        color:#b2b2b2;
        margin-bottom: 10px;
    } 
}

.parentPallet {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  
    button {
      width: 42px;
      height: 42px;
      float: left; 
      border-radius: 30px;
      border: 1px solid #d5d5d5;
      margin-top: 20px;
      cursor: pointer;
      position: relative;
  
      &:hover {
        -webkit-box-shadow: 3px 8px 10px 3px #dddddd;
        -moz-box-shadow: 3px 8px 10px 3px #dddddd;
        box-shadow: 3px 8px 10px 3px #dddddd;
      }
    }
}
 
.parent-color {
    display: block;
    width: 58%;
    min-height: 10px;
    float: left;
}
.color-picker-container {
    display: block;
    float: left;
    width:42%;
}
.wall{
    border:none;
}

#FloorTileTab .wall-1st {
      background: #C6096B;
      width: 200px;
}

#FloorTileTab .wall-2nd {
      background: #8b7d69;
      width: 300px;
}
.wall-1st {
    background: #C6096B;
    width: 73px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    display: block;
    float: left;
    cursor: url(/wp-content/uploads/2024/05/brush.webp),  auto;
}

.wall-1st {
    background: #C6096B;
    width: 73px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    display: block;
    float: left;
    cursor: url(/assets/misc/brush.webp), auto;
    img {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        height: 100%;
    }
}

.wall-2nd { 
    background: #8b7d69;
    width: 427px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    display: block;
    float: left;
    clear: both;
    cursor: url(/assets/misc/brush.webp), auto;
    img {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }
}

.wall-1st:hover, .wall-2nd:hover {
    cursor: url(/assets/misc/brush.webp), auto;
}

.child-fix { 
    float: left;
    position: relative;
    width: 500px;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

#childPalette {
    width: auto;
    height: 60px;
    float: left;
    position: relative;
    display: flex;
    margin-left: -5px; 
    button {
        width: 60px;
        height: 40px; 
        float: left;
        position: relative;
        cursor: pointer;
        margin: 6px;
        border-radius: 4px;
        border: 1px solid #dddddd;
        :hover {border: 1px solid #000;} 
    }
}

.room-selection{
    display: flex;
    flex-wrap: wrap;
    gap:8px;
}
 
.selector {  
    margin-top: 30px; 
    margin-right: 5px;
    display: inline-block; 
    cursor: pointer;
    border-radius: 6px;
    overflow:hidden;
    width: 105px;
    height: 85px;  
    background-image: #ff0000;
    background-position: center center;
    background-repeat: no-repeat;
    .selector-btns{
        display: flex;  
        width:100%;
        height: 100%; 
        align-items: center; 
        justify-content: center; 
        background:transparent; 
        visibility:hidden; 
        text-align: center; 
        border-radius: 6px;
        font-size:13px;
        color:#fff;
        &.active-btn  {
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(2px);
            background: rgba(0, 0, 0, 0.5);  
            visibility:visible;
        }
    }
} 

.color-description {
    display: block;
    div {
        padding-bottom: 20px;
        width: 50%;
        float: left;
    }
}


/* width */
.colorguide ::-webkit-scrollbar {
    width: 4px !important;
}

/* Track */
.colorguide ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 8px;
}

/* Handle */
.colorguide ::-webkit-scrollbar-thumb {
    background: #FCB033;
    border-radius: 8px;
}

/* Handle on hover */
.colorguide ::-webkit-scrollbar-thumb:hover {
    background: #ED1556;
}

.guideBtn{
    background-color:#EEEEEE; 
    padding: 6px 15px; 
    border-radius:20px; 
    font-size:18px;
    font-weight:500;
    margin-bottom:20px;
    display:inline-block;
}
.guideTitle{
    padding-top: 20px;
    font-size: 32px;
    font-weight: 400;
    line-height:1;
    margin:0;
    padding: 10px 0 0 0
}


@media screen and (max-width: 760px) {
    .parent-color {
        width: 100%;
        padding-bottom: 40px;
    }
}


@media screen and (max-width: 760px) {
    .parent-color {
        width: 100%;
    }
    .color-picker-container {
        width:100%
    }          
    .design {
        padding-bottom: 20px;
    }     
    .selector{ margin: 8px;
        width: 85px !important;
        border-radius: 3px; 
    }

   #parentPallet div{
    width: 40px;
    height: 40px;
   }
}
