.swiper-slide {
  touch-action: pan-y;
}

.swiper img {
  width: 100%;
  height: 100%;
}

/* Swiper pagination */
.swiper-horizontal > .swiper-pagination-bullets {
  position: absolute;
  bottom: 10%;
  display: flex;
  left: 50%;
  gap: 10px;
}

.swiper-pagination-horizontal > .swiper-pagination-bullet {
  background: #141414;
  opacity: 0.2;
  width: 15px;
  height: 15px;
}

.swiper-pagination-horizontal
  > .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: black !important;
  position: relative;
  opacity: 1;
  width: 30px;
  height: 15px;
  border-radius: 15px !important;
}

.swiper-pagination-horizontal
  > .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
